@model preparation.ViewModels.Cart.CartViewModel

@section css
    {
    <link rel="stylesheet" href="lib/jquery-confirm/jquery-confirm.min.css" />
}

@section navbar
    {

}

<div class="row">

    @if (Model.Products != null)
    {
        <div class="col-md-4 order-last mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-secondary badge-pill">@Model.Products.Count()</span>
            </h4>
            <ul class="list-group mb-3">
                @*<li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Product name</h6>
                            <small class="text-muted">Brief description</small>
                        </div>
                        <span class="text-muted">$12</span>
                    </li>*@
                @foreach (var m in Model.Products)
                {
                    <li class="list-group-item d-flex justify-content-between" data-suppliername="@m.Supplier.Name" data-supplieraddress="@m.Supplier.Address" data-productname="@m.Product.Name">
                        <div class="align-self-center pr-2">
                            <a class="text-info removeProduct" role="button"><i class="fa fa-trash-o"></i></a>
                        </div>
                        @*<a class="float-left align-middle popover-dismiss" role="button" tabindex="0" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
                            </a>*@
                        <div>
                            <h6 class="my-0">@m.Product.Name</h6>
                            <small class="text-muted">Brief description</small>
                        </div>
                        <span class="ml-auto text-muted">@m.Price.ToString("F2")$</span>
                    </li>
                }
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <div class="text-success">
                        <h6 class="my-0">Promo code</h6>
                        <small>EXAMPLE-CODE</small>
                    </div>
                    <span class="text-success">-$5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (USD)</span>
                    <strong>$@Model.TotalPrice.ToString("C3")</strong>
                </li>
            </ul>
            <form class="card p-2">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Promo code">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit">Redeem</button>
                    </div>
                </div>
            </form>
            <div class="my-2">
                <button class="btn btn-lg btn-block btn-outline-success done-succseed"><i>DONE</i></button>
            </div>
        </div>

        <div class="col-md-8 order-md-10 mb-4">
            <div class="m-5 text-center">
                <img class="m-5 img-fluid img-responsive" alt="" src="~/images/logo/logo_v2.svg">
                <p class="lead">
                    Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
                </p>
                <p><em><small>thank you</small></em></p>
            </div>
        </div>
    }
    else
    {
        <div class="col-md-4 order-last mb-4">
            <p class="display-3">Your cart is empty</p>
            <p class="display-5">you can doing on the shopping</p>
        </div>
        <div class="col-md-8 order-md-10 mb-4">
            <div class="bg-info" style="padding: 10rem;"></div>
        </div>
    }
</div>

@section footer
    {

}

@section js
    {
    <script src="~/lib/jquery-confirm/jquery-confirm.min.js"></script>
    <script src="js/cart.js"></script>
}
